
<div class="login-box">
  <div class="login-logo">
    <a href="#">
      <b>全国产品防伪溯源验证公共平台</b>
    </a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">后台管理系统</p>

      <%= form_with url: "/login", method: :post do |form| %>
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="请输入账号...">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fa fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="请输入密码...">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fa fa-lock"></span>
            </div>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-4">
          <button type="submit" class="btn btn-primary btn-block">登陆</button>
        </div>
        <!-- /.col -->
        <hr>
        <p class="mb-1">
          登陆中出现任何问题，请致电：188-8888-8888
        </p>
      </div>
    <% end %>
  </div>
</div>
